.cart {
   display: flex;
   flex-direction: column;
   height: 400px;
   width: 320px;
   
}



ul {
   flex: 1 ;
   overflow:auto ;
}

.item {
  display: grid;
  gap: 16px;
  grid-template-columns: max-content 1fr 70px;
   padding-bottom: 10px;
}